Source: wpakey-editor
Section: user/network
Priority: extra
Maintainer: Shaun Amott <shaun@inerd.com>
Build-Depends: debhelper (>= 5),
 hildon-control-panel-dev,
 libhildon1-dev,
 libosso-dev,
 libgconf2-6
Standards-Version: 3.7.2

Package: wpakey-editor
Architecture: any
Depends: perl (>= 5.6.0),
 hildon-control-panel,
 libhildon1,
 libosso1,
 libgconf2-6
Description: WPA key editor with 32-byte hex key support.
 Simple WPA-PSK key editor for 802.11 networks; supports both
 passphrases and 32-byte hexadecimal keys (support for the
 latter is notably missing in Maemo 5).
XSBC-Bugtracker: mailto:shaun@inerd.com
XB-Maemo-Display-Name: WPA Key Editor
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c
 6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0
 SU1FB9oGDRQ0Fc+DpCQAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJ
 TVBXgQ4XAAAO/UlEQVRo3u1ZaXRd1XX+9rn3vnnQ09P0NM+25EG2sDFB8gTG
 hhDC5LrNIguobbLShiEQQiBhLeY0I0OgXW2gFFIaihNaF8KQmMFg2Y6NLY+x
 bGuwZMmSnvQkv3m4w9n98ewsGlZSA6bDWv5+nbvWuevu75yzv/3tc4FzOIdz
 OIdzOIf/x6BP8zIzk+fWF7V1q+YXDkxmQrF4PNBYWjA/zWqwxGNrlSQ0weC0
 YQx6VUQPT6S2NISC2ZlF2thEwhy7/+KarEJk/K8QaP3OhjZfUdESr8O+wOWw
 zw26HfXFPqfPZVcRdChwq4CqCEjJSJqMpAFEsyYS6SxMwxg2QQO6YfbUV5S+
 cd/ism4iGvkfIfDkjrGrfvjKjhuWzq69sDroK/B7PTan3QaXJuDSFDg1YqdC
 ZFMAVQgADMNiJAyJ7gmdLcnEABxSh4ez3HUskh2Ppo5//fJFr69usN9HRImz
 ToCZ6ZGt4dZ3D/Q/lciay65Y2IKhrIK+mMXnFWmo9ipkV4k9GpFdAdyagE0w
 VCJIAIYEuicNRDIWEjojpkvOmEwSxAuKVTisLP1yxxFcPKcWnfXB2+tKPP8w
 20eZs0LgiX2Jijd29nxbCvWmplBAa6kq5axuUExnHoqbNBQ3Ue1VMb9EQ5FD
 wKYQPCrBoQkQGALAUMJCf8xEzmIkDEY8x0gaEjGdMZ2zoAmBWUEbi8QEZbM5
 VBa6D65qrfjeJTXOf/lUBG74xYE1/eHEj2bVlVc1lAbYZMCSTAqBFSICgJQh
 0XPShMmMhSV21PsVOBUBhwrYFCBpMA5NmUibjLQpkdQZ0Vx+nDaBWM5C0mRO
 6EyKIFxdZ2dORGg4mjFWza58e/284HpBdOJjEbhz03Fn39jJe1ha93S01KhQ
 bJy1LCIiJmYiAAyACFCIIAg8mbFoIsPc4FeprcgGlwZoBPTHLUxmJHKWRCIn
 EcsxYjpz2pRkWEDCkIjpElmTYUhCyrDQUeHieZ4MHx4eFzMqS/ovbSlb3xGy
 bT4jAndsGq7bfmjw+SVNJYsry0NIGsxZQ5IQxAQ6NZ/BBJgWgwhoDjgQdCl8
 bCJGxyai8GoEh2CQokA3LegWQwgBOL2wNDePpQwaSxrQTSBpSI7pktJmPtkB
 Yt1iKnGr6CglRiJCkmHctLz1wfML6eE/SeCXPZGy7/5q37a7Vs2tG7VsnNYZ
 kkEgMJ2eS8RSMukWo75A45kBjX627Qh2DU6iurhwoKYs+JYPuQ0vbT14JBTw
 KZa06KK2pnknkubyqWhs9VAkUV5aWoL2xiocPanzQNSglCWR0pklgwQEmBhS
 MgsB6gjZOWhGsffYOH//Lzo2dJbQl4nI+giBh7ZOVL352/1d11w4q9pS3axL
 SQxiZj41h9iSTIrC7FQINW6mvUNTxr/u7B1fPrdx8zNXNj5ERL1noGiFVz67
 88E9Q5Mrrlw4o05x+2zdEfBI0kTWkiSIGACBAGJwQpd0SZ0HHiPBsekI3bRk
 5vOX1bnWEpH8PYH1vzjgH55OvbOgsaK9rKiAYzkLYCKTGQIMEHHOlFTpt7Oe
 TmIoPE0jCbM3l8k89fTaha+UEA1+giruO/+JLdfWBr1rS/zuzqzNh50R5tGk
 QQ5VMBGIOR9gymA0FmjsM6Mot1u0tqPp0WXl2p1ElF/d1gdeqWqsqdy/cl6j
 P2FIWAyyGGAJKALImoy2Uhd3H+5H71SW2qoL/y7g8zx0y3lF438Y1P3vn1j5
 0paDhTaStbls1u50u1Ds88Xm1JePf2tVzeESYOuHj8D5j73rmllR+qV4KvU3
 c2tDxbsTdt56IkMuTUCczjjOi0aFW7By8gSt62js+fO5BZ0+omk6Xag6H3vn
 qdbqsr9ub67mSMaEKQFBIAZhblDjroMDNKaL9Nc66/+qs8L5s9MBXPFPu33z
 a8su3j0wfls4lphfHfS5yws9itflgqXYoOs6JmNJDE9MYyKazLVUBOMXz65+
 q6VQ+3FLnf935URZAHhwa7j+9Q+O/NvSmeVtJ9iHrSdyrIMIBJYW4NQE1Th0
 tsXH6d6rFj26uJS+8V9ygJmVBT9+9/ElzaGbZ9ZW8mjKIp9DcIMH2PjbHvL4
 A7+7Y3nT9fVe6j4133PZ0ztvcdrUdXVBV0NlcQClBV5MZyVGUxbcGrFdITAA
 ySBL5iWzNxzFaDiCQofAjBLv29e21/y0I2Tb0NXVNbugoOC6GNuuE4pWlWYV
 W8ISrw9biJMLDS6DU5MjdOPi1hdvmOW7nojMj6jQs2F2PPqPb/7wsrb6m1tr
 KziXy9HGHYdwWXvzofXnlyxzE00CwG2v9V2+u3/sJ51Nofr59WXYGzHZYiav
 RhxOS1KJOOAgcqoEQYBhgbOSKaVLTluguM4gafHI2DgpZia3dm6w77yA1VxS
 UqIBQDKZhMvlQjabhW4xHt2b4q7Dw3TLpQufvbrVd3tApfgfrQPMTG0/2vzU
 rKqi69K6lVrSVNZ1xwWl64kocX/XhGN37/CtguUjl7Q1qFmycc9UllyqYKea
 N3DjaQmfTcBnIziVPAHJQCYvlUianC9mOYv9LjuVZsP81RmgYDCI7u49ibGx
 0R2qqu7MCMe1tRWh5jkzGkjXdeyYolevbatYTUT6GVmJxU+8O6OhojT33OrW
 QQC4ddNI0d7Dx16sKilcMbOmHEkTnNYlkQAz51fbZEY0J1FgV/LFTCWoBFgM
 ZE5ZibjOSOiMpC6RNkzcVXoc7S2N2LRjL7Zni81rLpzzg2Uh8R0A+N5r3Vct
 KROPN1VX1IyPj0+OjY1Vr1y5MvvhONU/RmDLbcuPbDk1/suNvd7dPQO/nttY
 017g93NUl7AkSFGIJRMJkiAQkjoDAKT8/XZCkoBkBuV3F0R5RQEB9ZjC7OZ6
 9B4fxXtWHVf5WXn4P3be/d645ax16nfV+J0bu7u7wzab7U2/3+8bHR29GsCL
 H45TnFHzUupc7fL42n1+H+umRfJUXbYkyJISkokZDF2CVSHgtgEuFXBpBJuQ
 sCsMIQBVCGaZl0UAKHMpcNltGI7E8PKYHcNqMS2oLhC/2T90e0S3VQJAe3v7
 dsMwIk6n064oSt0fxqaeCYHJpOw3DZOJQXTqUDMTJCQkM9tVQSUuhX2UITOb
 RGIym0wBESEUk9hyaori8Xvd/kqXk+yqxtFpA4YEORx2Nk2TMmSHJoD9kzrW
 VPowMp2ASyXv6e+nUqlJr9dbL6XkT0SgbXZV156+oQe2Hzx6f+e8WTKd00We
 Ashr1yjksLint4+mM8Y4WD4TKq96+8mN7++DqnHAY1PXdMypP3D4xFKT+Zrm
 soILOqrLecuowQwiIQRMBlqKHHRRICU39UyKm5bMfMxlo57T3zcMwyQiEH00
 Zc+IwHUhkgAeuPSZXZ739hy6c9GsJhiSoQhiPRWnV/cf586ZlW99fWH1ulYv
 Da/46Q7PbRfNqE+7nN5KVcpQ0BH++y8segzAT654fs9Xj0WO3LtiTl0R6YKJ
 iGyCsDiQ4d1DU2Jt58znrmxwf4Pynui/hfg4/uXN9Qu+WejS7tt1qNfIGRYN
 j4zS4NgEX7941jcfvKhmZauXhi9+6r0bBcsum9O1r5Bl18ksb9t8NNz/g+3h
 TQNJLP7Vje1PVBcHVm3c1bvbA5MAIOhgTEyH6SufK372i8FtD5vRd+vN6OYG
 I/p+A/PLxYogBwFgsmc/dVP/z0dz4te7Dv3ZWOTk4xWlxUfXdTY/tLTC/hYA
 LH9y89qgz/u3ay6Y4eiLW7ArBLsgzAgoeODlbbjiwrbpq1uLrmn20Xu979zz
 oFK48Nu+mkuU/kNb0VrYm4RiyxFpACywmYG0MoARk1POLxYEQnO00f0/Txej
 75mSxd+/7azcC30YVz3XXZKz5LYlcxoaBuIS5W6FXWr+HFgMXlbtpptfeB/3
 XrnoDedU/5r6wzcnDGcDW/65EMYUBW0nQaodEAQhlLyBs0ywkUaMKmHCCxE/
 wPbcIA30j8xcdd/hI2ecA2eCgM+9KJkzKvrjkr2aIM7beRAJQErqOpHGVQua
 sfXo2PwvtRRXjrw2iKLKOFW3zIXqrIVwnAeheUGKExAqiE1IMwNpJODNRmDp
 ORzf2k3HT0QQmzb5YyXxmSCSSFfYXV4HARAEFjjdfzKICImsBYeiIKmbHqm6
 6srq6uAscEM3MpBkQRMaWChQiEFQIaUJy0rD0uMwMjGwRXAFilDhDCC6p+/s
 EyjyOicmUhk9gAIbAOLTjT8DDGZNJQpHLdgFol479fYd7kV5fRUKW/1Q7XYo
 dg+E5gApNhApYBYQQkIhNxTKQZpAMprASO8gNFsAZ53AjBJ1Z/+B2CCk1ayQ
 ctoyMACyKYIsk3nX0WFa29G0b6Jn93iophaewiLk4pMwVQnVmYJi84A0B0AK
 wBbYzMHMxWGlpyBhh9MfRHm9ipHj459MRv8U7u5sHFGl/tDB/iGZyBqsaRor
 QiVVVXk6bch/336Ils4IpVa1BL+7e8OjGSaBaHgIyckBxMf7kAz3IhHuRSrc
 i3T4KJLjvUiMH0Uy3If4eB9SkQGcHBuCJS0UFFef/R0AgHe+tviFNS90Y/+R
 vscOqDZ3qd9lj6cyeiydy61oKtpxzyU1d/uJ9tz+OSjcsgih5vOhuf2QZhyq
 0w5F0yAUBSRE3qqYKixhg4AbQitEecsFmOg7hFhk8LMhAAAbvtz+wld+/sGr
 hsN7UTKVqQ16nGMLawp3PbKidvB0F2UFmpg0D6bHhuH0xWFmItDsDgibHUJR
 kffoEtI0IA0dejYDzZ1EJjoNUpxwFpQB6D+7deDj4OWn9yvBqcvNgoo58BXV
 QeYiUO0OqJoGKAKCBKSUgLRg6gbMXA6KswiJyHFMD++BKcqbV3xrZ+9nsgNn
 gv0vLcXqdZ8HyyhGD29BYnIMqk2DoqoQisCp5gHSYlimCTOrw1MSgrc4hGDt
 EsRjmc/uCJ0JfjNVTV+IHYTTF4TTVw42NCg2DYqi5K8g6dRVipSQlglTN+D0
 FUFVTGTjhzA1bYqzrkIfB9v37DM/6Hcsy1DFdiOrI5NIIBOPIxOLIR2NIh2N
 IRON5p9jCWTiSRiZHHIitH/PkPPz8+av6D3rXuiTorjA5dcUVYEmoXBefU63
 o6QAzBKWyVBVuzUcno6d+635fw3/CaVKc5C3rzMCAAAAAElFTkSuQmCC
 ====
